body {
  font-family: "DM Sans", sans-serif;
  background-color: #fff;
  
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.box {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  color: #2e2e48;
  background-color: #f7f9fc;
  margin: 60px;
  padding: 20px;
  
}

.box:hover {
  background-color: #79819a;
}

.box h1 {
  display: inline-block;
  font-size: 2rem;
  font-size: 1.25rem;
  color: #2e2e48;
  margin: 0;
  
}
.box p {
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  color: #2e2e48;
  margin: 0;
  
}
